<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[微笑]</key>
	<string>Expression__1</string>
	<key>[撇嘴]</key>
	<string>Expression__2</string>
	<key>[色]</key>
	<string>Expression__3</string>
	<key>[发呆]</key>
	<string>Expression__4</string>
	<key>[得意]</key>
	<string>Expression__5</string>
	<key>[流泪]</key>
	<string>Expression__6</string>
	<key>[害羞]</key>
	<string>Expression__7</string>
	<key>[闭嘴]</key>
	<string>Expression__8</string>
	<key>[叹气]</key>
	<string>Expression__9</string>
	<key>[睡]</key>
	<string>Expression__10</string>
	<key>[尴尬]</key>
	<string>Expression__11</string>
	<key>[发怒]</key>
	<string>Expression__12</string>
	<key>[调皮]</key>
	<string>Expression__13</string>
	<key>[呲牙]</key>
	<string>Expression__14</string>
	<key>[惊讶]</key>
	<string>Expression__15</string>
	<key>[难过]</key>
	<string>Expression__16</string>
	<key>[酷]</key>
	<string>Expression__17</string>
	<key>[冷汗]</key>
	<string>Expression__18</string>
	<key>[抓狂]</key>
	<string>Expression__19</string>
	<key>[吐]</key>
	<string>Expression__20</string>
	<key>[偷笑]</key>
	<string>Expression__21</string>
	<key>[愉快]</key>
	<string>Expression__22</string>
	<key>[白眼]</key>
	<string>Expression__23</string>
	<key>[傲慢]</key>
	<string>Expression__24</string>
	<key>[饥饿]</key>
	<string>Expression__25</string>
	<key>[困]</key>
	<string>Expression__26</string>
	<key>[惊恐]</key>
	<string>Expression__27</string>
	<key>[流汗]</key>
	<string>Expression__28</string>
	<key>[憨笑]</key>
	<string>Expression__29</string>
	<key>[悠闲]</key>
	<string>Expression__30</string>
	<key>[奋斗]</key>
	<string>Expression__31</string>
	<key>[咒骂]</key>
	<string>Expression__32</string>
	<key>[疑问]</key>
	<string>Expression__33</string>
	<key>[嘘]</key>
	<string>Expression__34</string>
	<key>[晕]</key>
	<string>Expression__35</string>
	<key>[疯了]</key>
	<string>Expression__36</string>
	<key>[衰]</key>
	<string>Expression__37</string>
	<key>[骷髅]</key>
	<string>Expression__38</string>
	<key>[敲打]</key>
	<string>Expression__39</string>
	<key>[再见]</key>
	<string>Expression__40</string>
	<key>[擦汗]</key>
	<string>Expression__41</string>
	<key>[抠鼻]</key>
	<string>Expression__42</string>
	<key>[鼓掌]</key>
	<string>Expression__43</string>
	<key>[糗大了]</key>
	<string>Expression__44</string>
	<key>[坏笑]</key>
	<string>Expression__45</string>
	<key>[左哼哼]</key>
	<string>Expression__46</string>
	<key>[右哼哼]</key>
	<string>Expression__47</string>
	<key>[哈欠]</key>
	<string>Expression__48</string>
	<key>[鄙视]</key>
	<string>Expression__49</string>
	<key>[委屈]</key>
	<string>Expression__50</string>
	<key>[快哭了]</key>
	<string>Expression__51</string>
	<key>[阴险]</key>
	<string>Expression__52</string>
	<key>[亲亲]</key>
	<string>Expression__53</string>
	<key>[吓]</key>
	<string>Expression__54</string>
	<key>[可怜]</key>
	<string>Expression__55</string>
	<key>[开心]</key>
	<string>Expression__56</string>
	<key>[满意]</key>
	<string>Expression__57</string>
	<key>[不高兴]</key>
	<string>Expression__58</string>
	<key>[生病]</key>
	<string>Expression__59</string>
	<key>[笑哭]</key>
	<string>Expression__60</string>
	<key>[皱眉]</key>
	<string>Expression__61</string>
	<key>[幽灵]</key>
	<string>Expression__62</string>
	<key>[恶魔]</key>
	<string>Expression__63</string>
	<key>[高兴]</key>
	<string>Expression__64</string>
	<key>[菜刀]</key>
	<string>Expression__65</string>
	<key>[西瓜]</key>
	<string>Expression__66</string>
	<key>[啤酒]</key>
	<string>Expression__67</string>
	<key>[篮球]</key>
	<string>Expression__68</string>
	<key>[乒乓]</key>
	<string>Expression__69</string>
	<key>[咖啡]</key>
	<string>Expression__70</string>
	<key>[饭]</key>
	<string>Expression__71</string>
	<key>[面条]</key>
	<string>Expression__72</string>
	<key>[猪头]</key>
	<string>Expression__73</string>
	<key>[玫瑰]</key>
	<string>Expression__74</string>
	<key>[凋谢]</key>
	<string>Expression__75</string>
	<key>[嘴唇]</key>
	<string>Expression__76</string>
	<key>[爱心]</key>
	<string>Expression__77</string>
	<key>[心碎]</key>
	<string>Expression__78</string>
	<key>[蛋糕]</key>
	<string>Expression__79</string>
	<key>[闪电]</key>
	<string>Expression__80</string>
	<key>[炸弹]</key>
	<string>Expression__81</string>
	<key>[刀]</key>
	<string>Expression__82</string>
	<key>[足球]</key>
	<string>Expression__83</string>
	<key>[瓢虫]</key>
	<string>Expression__84</string>
	<key>[便便]</key>
	<string>Expression__85</string>
	<key>[月亮]</key>
	<string>Expression__86</string>
	<key>[太阳]</key>
	<string>Expression__87</string>
	<key>[礼物]</key>
	<string>Expression__88</string>
	<key>[拥抱]</key>
	<string>Expression__89</string>
	<key>[强]</key>
	<string>Expression__90</string>
	<key>[弱]</key>
	<string>Expression__91</string>
	<key>[握手]</key>
	<string>Expression__92</string>
	<key>[胜利]</key>
	<string>Expression__93</string>
	<key>[抱拳]</key>
	<string>Expression__94</string>
	<key>[勾引]</key>
	<string>Expression__95</string>
	<key>[拳头]</key>
	<string>Expression__96</string>
	<key>[差劲]</key>
	<string>Expression__97</string>
	<key>[爱你]</key>
	<string>Expression__98</string>
	<key>[NO]</key>
	<string>Expression__99</string>
	<key>[OK]</key>
	<string>Expression__100</string>
</dict>
</plist>
